/*|| General styles*/
:root{
  --main-color: rgba(254,221,39,1);
  --secondary-color: rgba(8, 136, 53,1);
}
*,*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.top-bar {
  padding: 1%;
  text-align: right;
  border-bottom: 1px solid black;
}

header {
  margin: 2%;
  display: flex;
  flex-direction: row wrap;
}
.user, .logo {
  width: 50%;
  position: relative;
}
.logo{
  display: flex;
  flex-direction: row wrap;
}

.logo p {
  font-size: large;
  font-weight: bold;
  margin-left: 5px;
}
.logo span {
  font-style: italic;
  font-size: small;
  margin-left: 15px;
}
.user img{
  margin-left: 80%;
}
.user ul{
  padding: 1%;
  position: absolute;
  right: 10%;
  z-index: 10;
  background-color: var(--secondary-color);
  box-shadow: 3px 3px 3px black;
  display: none;
}
.user:hover img + ul {
  display: block;
}

.user ul a {
  color:white;
}
.user ul a:hover {
  color: gray;
}

nav {
  background-color: var(--main-color);
  position: sticky;
  top: 0px;
  z-index: 9;
}
nav > ul {
  display: flex;
  flex-flow: row span;
}

nav > ul li:hover {
  background-color: var(--secondary-color);
}
nav > ul li:hover a{
  color:white;
}

nav li {
  padding: 1%;
  margin-left: 5%;
}

nav a {
  color: black;
}
.dropdown-parent {
  position: relative;
}
.dropdown-parent:hover > .dropdown {
  display: block;
}
nav .dropdown {
  width: 150px;
  position: absolute;
  top: 100%;
  z-index: 10;
  background-color: var(--secondary-color);
  padding: 5%;
  display: none;
  
}
nav .dropdown a {
  color: white;
}
nav .dropdown a:hover {
  color: rgba(255, 255, 255,0.8);
}
nav.current {
  color: red;
}

/* || staff pages styles*/
p {
  text-align: center;
  margin-top: 2%;
}

form {
  margin: 2% auto;
  width: 90%;
  text-align: center;
}
input {
  margin-top: 5px;
  padding: 5px;
}
form button {
  padding: 5px 2%;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  margin-top: 2%;
}
form button:hover {
  box-shadow: 3px 3px 3px black;
}
.staff-login-response, .deposit-money-response, .withdraw-money-response, .delete-client-response {
  background-color: red;
  color: white;
  width: 50vw;
  margin: 5px auto;
}

table {
  width: 80%;
  margin: 2% auto;
  border: 1px solid rgba(8, 136, 53,1);
}
table, th, td {
  border-collapse: collapse;
}
th {
  padding: 5px;
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid white;
}
td {
  padding: 2%;
  border-left: 1px solid black;
}